<div class ="row mt-5">
  <div class ="col-12 col-lg-4 offset-lg-4">
    <div class="card border-secondary w-100">
      <div class="card-header text-center alert-secondary border-secondary text-dark">
        <h2>管理者ログイン</h2>
      </div>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <h3 class="mt-3"><span class="text-secondary">■</span>メールアドレス</h3>
          <%= f.email_field :email, required: true, class: "form-control-lg w-100 mt-2 text-center" %>


          <h3 class="mt-4"><span class="text-secondary">■</span>パスワード</h3>
          <%= f.password_field :password,  required: true, class: "form-control-lg w-100 my-2 text-center" %>

          <div class="row">
            <div class="col-12 text-center">
              <%= f.submit "ログイン", class: "btn btn-lg btn-outline-secondary alert-secondary mt-3 w-100 font-weight-bolder" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bubbly-bg@1.0.0/dist/bubbly-bg.js" class="public"></script>