<div class="nested-fields">
	<div class="row">
		<div class="col-8">
			<%= f.text_area :process_text, :placeholder => "工程", class: "form-control-lg w-100" %>
		</div>
		<div class="col-4 align-items-center">
			<%= f.hidden_field :process_count, value: 0 %>
  		<%= link_to_remove_association "−", f, class: "btn btn-outline-secondary ml-2" %>
			<span class="h6 text-secondary">工程を削除</span>
  	</div>
	</div>
</div>