<div class="nested-fields">
	<div class="row">
		<div class="col-5">
			<%= f.text_field :ingredient_name, :placeholder => "材料", class: "form-control-lg w-100" %>
		</div>
		<div class="col-7">
			<%= f.text_field :ingredient_amount, :placeholder => "使用量", class: "form-control-lg w-50" %>
			<%= link_to_remove_association "−", f, class: "btn btn-outline-secondary ml-2" %>
  		<span class="h6 text-secondary">材料を削除</span>
		</div>
		</div>
	</div>