<div class="top-box row mb-4 py-4">
	<div class="col-12 col-lg-9 top-text2 order-lg-1 order-2 mt-3 mt-lg-3">
		<h3 class="top-text2">
			このサイトは
 		<br><br>

		<br><br>
		</h3>
	</div>
	<div class="col-12 col-lg-3 top-text1 text-center order-lg-2 order-1">
		<h2>
			<div class="row">
				<div class="col-lg-12 offset-lg-0 col-1 offset-2">
					■
				</div>
				<div class="col-lg-12 col-1">
					F
				</div>
				<div class="col-lg-12 col-1">
					L
				</div>
				<div class="col-lg-12 col-1">
					o
				</div>
				<div class="col-lg-12 col-1">
					s
				</div>
				<div class="col-lg-12 col-1">
					e
				</div>
				<div class="col-lg-12 col-1">
					と
				</div>
				<div class="col-lg-12 col-1">
					は
				</div>
			</div>
		</h2>
	</div>
</div>

<div class="top-box row my-4 py-4">
	<div class="col-12 col-lg-3 top-text1 text-center">
		<h2>
			<div class="row">
				<div class="col-lg-12 offset-lg-0 col-1 offset-2">
					■
				</div>
				<div class="col-lg-12 col-1">
					日
				</div>
				<div class="col-lg-12 col-1">
					本
				</div>
				<div class="col-lg-12 col-1">
					の
				</div>
				<div class="col-lg-12 col-1">
					食
				</div>
				<div class="col-lg-12 col-1">
					品
				</div>
				<div class="col-lg-12 col-1">
					廃
				</div>
				<div class="col-lg-12 col-1">
					棄
				</div>
			</div>
		</h2>
	</div>
	<div class="col-12 mt-3 mt-lg-3 col-lg-9 top-text3">
		<h3>日本では、年間2,759万トンの食品廃棄物等が出されています。(※1)
			<br><br>
			このうち、まだ食べられるのに廃棄される食品、いわゆる「食品ロス」は643万トン。食品ロスを国民一人当たりに換算すると"お茶腕約1杯分の食べもの"が毎日捨てられていることになるのです。
			<br><br>
			日本の食品ロス量年間643万トンのうち、事業系は352万トン・家庭系からは291万トンで、約55%が事業系　約45%が家庭系です。
			<br><br>
			家庭系の食品ロスについて、では、まだ食べられるのに捨てた理由として、
			<br><br>
			(1)食べ残し57％　(2)傷んでいた23％　(3)期限切れ11％
			(賞味期限切れ6％、消費期限切れ5％)の順で多いことが分かりました。(※2)
			<br><br>
			<span class="h5">
				(※1)農林水産省及び環境省「平成28年度推計」<br>
				(※2)消費者庁が平成29年に実施した食品ロス削減に関する実証事業の結果
			</span>
		</h3>
	</div>
</div>

<div class="top-box row my-4 py-4">
	<div class="col-12 col-lg-9 top-text4 order-lg-1 order-2 mt-3 mt-lg-3">
		<h3 class="top-text4">
 		世界の飢餓人口の増加は続いており、2017年には8億2100万人、9人に1人が飢えに苦しんでいるとしました。(※3)
 		<br><br>
		世界の飢餓人口は３年連続で増加しています。
		<br><br>
		<span class="h5">(※3)2018年版「世界の食料安全保障と栄養の現状」報告書</span></h3>
	</div>
	<div class="col-12 col-lg-3 top-text1 text-center order-lg-2 order-1">
		<h2>
			<div class="row">
				<div class="col-lg-12 offset-lg-0 col-1 offset-2">
					■
				</div>
				<div class="col-lg-12 col-1">
					世
				</div>
				<div class="col-lg-12 col-1">
					界
				</div>
				<div class="col-lg-12 col-1">
					の
				</div>
				<div class="col-lg-12 col-1">
					飢
				</div>
				<div class="col-lg-12 col-1">
					餓
				</div>
				<div class="col-lg-12 col-1">
					人
				</div>
				<div class="col-lg-12 col-1">
					口
				</div>
			</div>
		</h2>
	</div>
</div>