<div class="top-box row">

<div class="text-center col-12">
<h1>ようこそ<strong>FLose</strong>へ</h1>
<h2>
	このサイトは、<br>
	<strong>
	「買いに行く」<br>
	「食べに行く」<br>
	「余りやすい食材で料理」</strong><br>
	の３つの方法で、食品ロス削減を目指していくサイトです。
</h2><br>

  <% if signed_in? %>
  <% else %>
<%= link_to new_public_session_path, class: "btn btn-warning" do %>
  <i class="fas fa-user" style="font-size: 25px; color: black;"></i>
  <span style="font-size: 25px; color: #CC3300;">利用者様 ログイン・新規登録</span>
<% end %>

<%= link_to new_company_session_path, class: "btn btn-info" do %>
	<i class="fas fa-user-tie" style="font-size: 25px; color: black;"></i>
	<span style="font-size: 25px; color: 	#0000CD;">企業様 ログイン・新規登録</span>
<% end %>
<% end %>

</div>

</div>